@use '../global/global' as *;


.cast-icon{
	width: 24px;
	height: 24px;
	border-radius: 100%;
	object-fit: cover;
	object-position: top center;
}



.btn-new {
	@include button-basic();
	margin: 40px auto;
	&::before {
		@include googleicon("add_circle");
		color: white;
	}
}

.btn-search{
	@include button-basic();
	&::before {
		@include googleicon("search");
		color: white;
	}
}

.btn-reset{
	@include button-basic();
	&::before {
		@include googleicon("refresh");
		color: white;
	}
}

.container{
	max-width: 768px;
}





