@use '../global/global' as *;

.modal-body{
	.tab-item{
		position: relative;
		&.active{
			&:after{
				content: '';
				height: 2px;
				width: 100%;
				background-color: $mc;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
	}
	.order-form{
		select{
			min-height: 43px;
			background: transparent;
			border: #e8e8e8 1px solid;
		}
	}
}

	.sidebar{
		.wrap{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
			margin-bottom: 16px;
			.title{
				display: flex;
				align-items: center;
				gap: 8px;
				margin-bottom: 8px;
				background-color: #f7f7f7;
				padding: 4px;
				width: 100%;
			}
			.items{
				margin-left: 16px;
				.btn{
					align-items: flex-start;
					padding-left: 4px;
					display: block;
					text-align: left;
					margin-bottom: 8px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
