@use "@/assets/scss/global/tokens" as *;

.cast-mypage{
	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 0px;
		margin: 16px auto;
		a{
			@include flex();
			flex-direction: column;
			i{
				line-height: 100%;
				margin-bottom: 4px;
			}
		}
	}
}