@use "@/assets/scss/global/tokens" as *;

.form{

	.search-wrap{
		display: grid;
		align-items: start;
		justify-content: center;
		grid-template-columns: 1fr 240px;
		gap: 24px;
		margin-top: 16px;
		.field-group{
			background-color: white;
			padding: 8px;
			width: 100%;
			min-height: 120px;
			flex-wrap: wrap;
		}
	}
	.radio-items{
		@include flex();
		gap: 8px;
		.radio-item{
			padding: 4px 24px;
			@include flex();
			background-color: rgba($mc, 0.3);
			color: white;
			border-radius: 16px;
			gap: 4px;
			input{
				opacity: 0;
				position: absolute;
				z-index: -1;
			}
			&:hover{
				cursor: pointer;
			}
			&:has(input:checked){
				background-color: $mc;
			}
		}
		&.radio-store{
			gap: 40px;
		}
	}
	.date-box{
		.button-area{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 8px;
		}
		.result{
			@include flex();
			width: 100%;
			height: 24px;
			background-color: #f9f9f9;
			margin-top: 8px;
			button{
				background-color: unset;
				border: unset;
				@include flex();
				span{
					@include fs(10);
				}
				
			}
		}
		.hidden-input{
			visibility: hidden;
			position: absolute;
		}
	}
	.radio-cast{
		justify-content: start;
	}
	.btn-wrap{
		@include flex();
		gap: 40px;
		margin: 16px auto;
	}
}


.form-admin{
	&__wrap{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 16px;
		.outer{
			background-color: white;
			border-radius: 16px;
			padding: 16px;
		}
		.customer-area{
			grid-area: 1 / 1 / 2 / 2;
			.search{
				.input-area{
					display: flex;
					gap: 8px;
					.add{
						@include flex();
						button{
							@include flex();
							width: 24px;
							height: 24px;
							background-color: unset;
							border: unset;
						}
					}
				}
				.list-area{
					ul{
						padding: unset;
					}
				}
			}
			.latest-carte{
				.card-header{
					@include flex();
				}
				.card-body{
					.card-area{
						display: grid;
						grid-template-columns: 1fr 2fr;
						gap: 8px;
						.wrap{

						}
						.image{
							img{
								width: 100%;
								height: 100%;
								aspect-ratio: 1/1;
								object-fit: cover;
								object-position: top center;
							}
						}
						.text{
							display: flex;
							flex-direction: column;
							gap: 8px;
							justify-content: center;
							.items{
								&.memo{
									.wrap{
										border: 1px gray solid;
										border-radius:16px;
										padding: 8px;
										white-space: pre-wrap;
									}
								}
							}
						}
					}
				}
			}
		}
		.cast-area{
			grid-area: 2 / 1 / 3 / 2;
			.cast-search{
				display: flex;
				gap: 8px;
				&__wrap{
					display: grid;
					grid-template-columns: repeat(4,1fr);
					gap: 8px;
					.wrap{
					}
				}
			}
		}
		.form-area{
			grid-area: 1 / 2 / 3 / 3;
			&__wrap{
				display: grid;
				grid-template-columns: 100px 1fr;
				gap: 16px 8px;
				margin-bottom: 40px;
				align-items: center;
				.area{
					display: contents;
					.h5{
						@include fs(10);
					}
				}
				.start-date{
					.wrap{
						display: grid;
						grid-template-columns: 1fr 1fr;
						gap: 16px;
						.mx-datepicker{
							width: 100%;
						}
					}
				}
				.driver{
					.wrap{
						display: grid;
						grid-template-columns: 1fr 1fr;
						gap: 16px;
					}
				}
			}
			.receive-area{
				margin-bottom: 40px;
				.wrap{
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 16px;
					align-items: center;
					.area{
						display: grid;
						grid-template-columns: 50px 1fr;
						gap: 16px;
						align-items: center;
						.h5{
							@include fs(10);
						}
					}
				}
			}
			.summary-area{
				.alert{
					display: flex;
					justify-content: center;
					gap: 8px;
					align-items: baseline;
					.head{
						@include fs(10);
					}
					.price{
						font-weight: bold;
						@include fs(20);
						display: flex;
						gap: 4px;
						justify-content: center;
						align-items: baseline;
						&::after{
							content: 'å††';
							@include fs(10);
						}
					}
				}
			}// summary-area
			.save-area{
				.btn{
					width: 100%;
				}
			}
		}// form-area
	}
}


.form-table-grid{
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 16px 8px;
	margin-bottom: 40px;
	align-items: center;
	.outer{
		display: contents;
		.h5{
			@include fs(10);
		}
	}
}