@use '../global/global' as *;

.form{

	.search-wrap{
		display: grid;
		align-items: start;
		justify-content: center;
		grid-template-columns: 1fr 240px;
		gap: 24px;
		margin-top: 16px;
		.field-group{
			background-color: white;
			padding: 8px;
			width: 100%;
			min-height: 120px;
		}
	}
	.radio-items{
		@include flex();
		gap: 8px;
		.radio-item{
			padding: 4px 24px;
			@include flex();
			background-color: rgba($mc, 0.3);
			color: white;
			border-radius: 16px;
			gap: 4px;
			input{
				opacity: 0;
				position: absolute;
				z-index: -1;
			}
			&:hover{
				cursor: pointer;
			}
			&:has(input:checked){
				background-color: $mc;
			}
		}
		&.radio-store{
			gap: 40px;
		}
	}
	.date-box{
		.button-area{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 8px;
		}
		.result{
			@include flex();
			width: 100%;
			height: 24px;
			background-color: #f9f9f9;
			margin-top: 8px;
			button{
				background-color: unset;
				border: unset;
				@include flex();
				span{
					@include fs(10);
				}
				
			}
		}
		.hidden-input{
			visibility: hidden;
			position: absolute;
		}
	}
	.radio-cast{
		justify-content: start;
	}
	.btn-wrap{
		@include flex();
		gap: 40px;
		margin: 16px auto;
	}
}

.form-admin{
	.btn{
		height: 40px;
		@include flex();
	}
	.customer{
		.wrap{
			.search{
				ul{
					margin: unset;
					padding: unset;
				}
				.btn{
					height: auto;
				}
				.selected{
					height: 40px;
				}
			}
		}
		.latest-carte{
			&.card{
				background-color: white;
				.card-header{
					background-color: $mc;
					color: white;
				}
				.card-body{
					&__wrap{
						display: flex;
						gap: 16px;
						align-items: center;
					}
					ul{
						padding: 0;
						li{
							list-style: none;
						}
					}
					img{
						width: 160px;
						object-fit: cover;
						object-position: top center;
						height: 160px;
					}
					.text-muted{
						margin: 16px auto;
					}
				}
			}
		}
	}
}