@use '../global/global' as *;

.mypage{
	display:flex;
	flex-direction:column;
	min-height:100vh;
	.header{
		&__wrap{
			padding-top: 8px;
			padding-bottom: 8px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.area{
				@include flex();
				gap: 8px;
				.icon{
					img{
						width: 40px;
						height: 40px;
						border-radius: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}//header
	main{
		flex:1 1 auto;			// 残りを全部
		display:flex;
		flex-direction:column;
		min-height:0;		
	}

	.mini-nav{
		@include flex();
		gap: 16px;
		.btn{
			@include flex();
			border-radius: 100%;
			padding: 8px;
		}
	}
}//driver
