@use '../global/global' as *;


.pl{
	.summary-area{
		display: flex;
		align-items: center;
		padding: 16px 0px;
		flex-wrap: wrap;
		.box{
			@include flex();
			flex-direction: column;
			border-radius: 8px;
			background-color: white;
			padding: 24px 0px;
			.number{
				@include fs(20);
				font-weight: bold;
			}
		}
	}
}