{% load static i18n %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">

  {# --- ブランドロゴはお好みで ---- #}
  <a href="{% url 'admin:index' %}" class="brand-link">
      <img src="{% static 'img/logo.webp' %}" class="brand-image" style="opacity:.8">
      <span class="brand-text font-weight-light">MONOLISK</span>
  </a>

  <div class="sidebar">
      <!-- ここから完全に自由に HTML を書く -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">

          <li class="nav-item">
            <a href="{% url 'admin:core_reservation_changelist' %}" class="nav-link">
              <i class="nav-icon fa fa-calendar-check"></i><p>予約</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'admin:core_customer_changelist' %}" class="nav-link">
              <i class="nav-icon fa fa-users"></i><p>顧客</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'admin:core_option_changelist' %}" class="nav-link">
              <i class="nav-icon fa fa-tasks"></i><p>オプション</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'admin:core_castprofile_changelist' %}" class="nav-link">
              <i class="nav-icon fa fa-star"></i><p>キャスト情報</p>
            </a>
          </li>

          <!-- 仕切り線 -->
          <li class="nav-header">その他</li>

          <li class="nav-item">
            <a href="{% url 'admin:core_store_changelist' %}" class="nav-link">
              <i class="nav-icon fa fa-store"></i><p>店舗</p>
            </a>
          </li>
          {# …必要なだけ追加 #}

        </ul>
      </nav>
  </div>
</aside>
