@use "sass:color"; 

$mc: #0f0f0f;
$bg:#B79A53;
$black: #0f0f0f;
$gray: color.adjust($black, $lightness: 40%);
$lightgray: color.adjust($black, $lightness: 90%);
$gosic: system-ui;
$mincho: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
$cinzel: 'Cinzel', serif;
$tegaki: 'Satisfy', cursive;
@use "sass:math"; /* 除算math.divを使うのに必要な記述 */
@mixin fs($fs_min) {
$width_small: 320;
$width_large: 1300;
$fs_max: ($fs_min+2);
$preferred_vw_base: math.div(($fs_max - $fs_min), ($width_large - $width_small));
$preferred_vw: ($preferred_vw_base * 100) * 1vw;
$preferred_rem: ($width_small * -1 * $preferred_vw_base + $fs_min) * .1rem;
font-size: clamp($fs_min * .1rem, $preferred_rem + $preferred_vw, $fs_max * .1rem);
}
$sp: 576px;
$md: 768px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
@mixin md {
    @media screen and (max-width: ($md)) {
      @content;
    }
}
@mixin pc {
    @media screen and (min-width: ($md)) {
      @content;
    }
}
$time: 0.5s;
@mixin transition{
    transition: $time;
    -webkit-transition: $time; /* Chrome、Safari用 */
    -moz-transition: $time; /* Firefox用 */
    -o-transition: $time; /* Opera用 */
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

html {font-size: 62.5%;}

body{
    @include fs(14);
    font-family: $gosic;
    a{
        color: $black;
        :hover{
            @include transition();
            opacity: 0.8;
        }
    }
    img{
        max-width: 100%;;
        height: auto;
    }
    .mincho{
      font-family: $mincho;
      @include fs(30);
  }
  section{
    margin-bottom: 40px;
  }//section
}


@mixin shadow{
  box-shadow: 0px 0px 15px -5px #777777;
}

/* 非表示状態 */
.inactive {
  display: none;
  opacity: 0;
}

/* 表示状態 */
.active {
  display: block;
  opacity: 1;
}

#navigation {
  opacity: 0;
  visibility: hidden; /* 見えなくするが、スペースを維持 */
  transition: opacity 0.5s ease-in-out;
}

#navigation.visible {
  opacity: 1;
  visibility: visible; /* 表示状態 */
  transition: opacity 0.5s ease-in-out;
}


.drawer-hamburger{
  top: unset;
  width: 30px;
  display: none;
  @include sp{
      display: block;
  }
}

.drawer-nav{
background-color: #fafafa;
  ul{
      .logo{
          padding-left: 10px;
          height: 80px;
          @include flex();
          justify-content: start;
      }
      li{
          border-bottom: 1px gray dotted;
          a{
              padding-left: 16px;
              padding-top: 16px;
              padding-right: 8px;
              padding-bottom: 16px;
              display: block;
              width: 100%;
              @include flex();
              justify-content: space-between;
              &::after{
                  content: '';
                  width: 10px;
                  height: 10px;
                  display: inline-block;
                  background-repeat: no-repeat;
              }
              &:hover{
                  background-color: white;
                  text-decoration: none;
                  color: black;
              }
          }
      }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400..700,0..1,0");

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  line-height: 1;
  /* 変数フォントの軸をデフォルト指定 */
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@mixin _micon($name,
              $fill:0, $wght:400, $grad:0, $opsz:24) {
  content: $name;                      /* ligature 文字列 */
  font-family: "Material Symbols Outlined";
  font-style: normal;
  line-height: 1;
  font-variation-settings:
    'FILL' $fill,
    'wght' $wght,
    'GRAD' $grad,
    'opsz' $opsz;
}

@mixin googleicon($name,
                  $fill:0, $wght:400, $grad:0, $opsz:24) {
  @include _micon($name, $fill, $wght, $grad, $opsz);
  display: inline-block;   /* 好みで block / inline-flex などに */
  font-size: inherit;      /* 親に合わせる（変更したければ別途指定） */
}

/* ナビの背景を前面に出す */
.drawer--right.drawer-open .drawer-nav{
  width: 100%;
}

/* アイコンの位置 */
.drawer--right.drawer-open .drawer-hamburger{
  right:0;
}

body{
  line-height: normal;
  a{
    text-decoration: unset;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin monsttera{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}