// _overrides.scss
@use "@/assets/scss/global/tokens" as *;

.form-control{
	padding: 8px;
  height: 40px;
}

.table-striped-even {
  /* 奇数行を透明に戻す */
  > tbody > tr:nth-of-type(odd)  > * {
    background-color: transparent;
  }
  /* 偶数行に色を付ける  */
  > tbody > tr:nth-of-type(even) > * {
    background-color: var(--bs-table-striped-bg);
    color:            var(--bs-table-striped-color);
  }
}

.offcanvas{
  background-color: white;
}

.btn-primary{
  color: white;
}

.btn .badge{
  top: 0 !important;
}

.bg-orange { background-color:#ff922b !important; }

.bg-blue { background-color:#0d6efd !important;}

.fs-7{
  @include fs(8);
}

.modal-fullscreen .modal-content {
    height: auto;
    border: 0;
    border-radius: 0;
    min-height: 100%;
      
}

/* 生のボタン/入力だけ黒に固定（Bootstrapの .btn は触らない） */
button:not(.btn):not(.btn-link):not(.nav-link),
input[type="button"]:not(.btn),
input[type="submit"]:not(.btn),
input[type="reset"]:not(.btn),
input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
  color: #000; /* あるいは var(--bs-body-color) */
}


@media (display-mode: standalone) {
  .sidebar, .sp-footer {
    padding-bottom : 40px !important;
  }
  .offcanvas{
    padding-left: 16px;
    padding-bottom: 32px;
  }
  .add-button{
    bottom: 96px !important;
  }
}