//_variables.scss
@use "@/assets/scss/global/tokens" as *;

$body-color: $mc;
$body-bg: rgba($mc, 0.03);
$border-width: 1px;
$btn-border-width: 1px;
$primary: $mc;
$btn-padding-y: 0.5rem;
$btn-padding-x: 2rem;
$table-bg: white;
$table-striped-bg: rgba($mc, .02);
$table-striped-color:  inherit;
$modal-content-bg: white;

$font-size-base: 0.875rem;

$h1-font-size:  calc(1.375rem + 1.5vw);
$h2-font-size:  1.5rem;
$h3-font-size:  1.25rem;
$h4-font-size:  1.125rem;
$h5-font-size:  1rem;
$h6-font-size:  .875rem;