@use "../global/global" as *;
@use "sass:color";


.reservation{
	&__list{
		.menu{
			margin-top: 40px;
			.area{
				button{
					@include flex();
					gap: 8px;
				}
			}
		}
		.reservation-list{
			.grid{
				margin-top: 80px;
				.head, .value{
					display: grid;
					grid-template-columns: 30px repeat(7,1fr);
					gap: 16px;
				}
				.head{
					font-weight: bold;
					margin-bottom: 16px;
					&__inner{}
				}
				.value{
					&__outer{
						display: flex;
						flex-direction: column;
						gap: 16px;
					}
				}
				.cell{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					button{
						border-radius: 100px;
					}
				}
			}
		}
	}
	&__edit, &__create{
		margin-bottom: 160px;
		h2{
			margin-bottom: 40px;
		}
		.area{
			margin-bottom: 40px;
			.head{
				font-weight: bold;
				text-align: center;
				margin-bottom: 16px;
			}
		}
		.radio, .checkbox{
			.value{
				display:grid;
				grid-template-columns: repeat(4,1fr);
				align-items: center;
				gap: 40px;
				&__inner{
					display: contents;
					&--input{
						display: none;
						&:checked + .value__inner--label{
							background-color: $lmc;
							color: white;
						}
					}
					&--label{
						width: 100%;
						padding: 16px;
						display: block;
						text-align: center;
						cursor: pointer;
						background-color: $gray;
						transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
						&:hover{
							background-color: $lmc;
							color: white;
						}
					}
				}
			}
		}//radio
		.text, .calendar, .number{
			.box{
				display: grid;
				grid-template-columns: 1fr 3fr;
				gap: 40px;
				align-items: center;
				input{
					background-color: $gray;
					padding: 16px;
				}
			}
		}
		.area--reservation_amount{
			margin-top: 80px;
			@include flex();
			width: 100%;
			padding: 40px;
			border: 1px $mc solid;
			.box{
				@include flex();
				flex-direction: column;
				gap: 16px;
				.head{
					@include fs(20);
					font-weight: bold;
				}
				.cell{
					@include fs(40);
					font-weight: bold;
				}
			}
		}
		.area--input{

			.wrap{
				margin: 40px auto;
				display: flex;
				flex-direction: column;
				gap: 40px;
				justify-content: flex-start;
				.box{
					display: grid;
					grid-template-columns: 150px 1fr;
					align-items: center;
					margin-bottom: 40px;
					label{
						font-weight: bold;
					}
					input{
						background-color: $gray;
						padding: 16px;
						width: 100%;
					}
				}
			}
		}
	}
}//reservation


.d-contents{
	display: contents;
}