@forward "sass:math";   // ← bootstrap と一緒に使うなら入れておくと警告が減る

// ① 変数を import
@use "settings/variables" as *;

// ② Bootstrap 本体を読み込み（with でも OK）
@use "bootstrap/scss/bootstrap" with (
  $font-size-base: $font-size-base,
  $body-color:     $body-color,
  $body-bg:        $body-bg,
  $border-width: $border-width,
  $primary: $primary,
  $btn-padding-y: $btn-padding-y,
  $btn-padding-x: $btn-padding-x,
  $table-bg: $table-bg,
  $table-striped-bg:$table-striped-bg,
  $table-striped-color:$table-striped-color,
);

@use "settings/overrides";

@use "parts/base";

@use "parts/form";
@use "parts/admin";
@use "parts/driver";
@use "parts/monolisk";